.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-image: url(../images/close.svg);
  background-color: transparent;
  opacity: 40%;
}

.modal__close:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: #212121b2;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #212121;
  border-radius: 8px;
  border: 1px #2121214d solid;
}

.modal__input_type_error {
  border: 1px #ff000099 solid;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__input:hover {
  border: 1px #212121 solid;
  cursor: pointer;
}

.modal__error {
  display: block;
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: #ff0000b2;
}

.modal__submit-button {
  max-width: 156px;
  padding: 18px 0;
  color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background: #212121;
  border-radius: 8px;
  border: none;
}

.modal__submit-button:hover {
  cursor: pointer;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vw;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  margin: 8px 0 0;
  padding: 4px 8px;
  color: #ffffff;
  background-color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  border-radius: 8px;
  display: inline-block;
}

.modal__close_type_preview {
  top: 0px;
  right: -52.5px;
  background-image: url(../images/close-preview.svg);
  opacity: 100%;
}

.modal__close_type_preview:hover {
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-button {
    max-width: none;
  }

  .modal_type_preview {
    padding: 0 16px;
  }

  .modal__image {
    max-width: unset;
    max-height: unset;
    border-radius: 4px;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__close_type_preview {
    position: absolute;
    top: -48px;
    right: 0;
  }
}
